<h3>Log in</h3>

<form action="/admin" method="POST">
  <label for="username"><b>user name</b></label>
  <input type="text" name="username" id="username">

  <label for="password"><b>password</b></label>
  <input type="password" name="password" id="password">

  <input type="submit" value="login" class="btn">
</form>