<h3>Register</h3>

<form action="/register" method="POST">
  <label for="username"><b>user name</b></label>
  <input type="text" name="username" id="username">

  <label for="password"><b>password</b></label>
  <input type="password" name="password" id="password">

  <label for="password2"><b>password confirm</b></label>
  <input type="password" name="password2" id="password2">

  <input type="submit" value="register" class="btn">
</form>