      <!-- top -->
      <div class="top">
        <h1 class="top-heading">Violet's blog</h1>
        <p class="top-body">This is my blog. Violet Dream!</p>
      </div>

      <!-- contents -->
      <section class="articles">
        <h2 class="articles-heading">violet</h2>
        <ul class="article-ul">
            <li>
              <a href="#">
                <h3><span>Artist violet</span></h3>
              </a>
            </li>
        </ul>
      </section>