      <!-- top -->
      <div class="top">
        <h1 class="top-heading"><%= data.title %></h1>
      </div>

      <!-- recent post -->
        <article class="article">
          <%= data.body %>
        </article>